<div id="<%= dom_id family %>">
  <p>
    <strong>Name:</strong>
    <%= family.name %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= family.composition %>
  </p>

  <p>
    <strong>Components:</strong>
    <%= family.components %>
  </p>

  <p>
    <strong>Additives:</strong>
    <%= family.additives %>
  </p>

  <p>
    <strong>Dosage:</strong>
    <%= family.dosage %>
  </p>

  <p>
    <strong>Claims:</strong>
    <%= family.claims %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= family.instructions %>
  </p>

  <p>
    <strong>Tht months:</strong>
    <%= family.tht_months %>
  </p>

  <p>
    <strong>Manufacturer code:</strong>
    <%= family.manufacturer_code %>
  </p>

</div>
