<%= form_with(model: family) do |form| %>
  <% if family.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :composition, style: "display: block" %>
    <%= form.text_area :composition %>
  </div>

  <div>
    <%= form.label :components, style: "display: block" %>
    <%= form.text_area :components %>
  </div>

  <div>
    <%= form.label :additives, style: "display: block" %>
    <%= form.text_area :additives %>
  </div>

  <div>
    <%= form.label :dosage, style: "display: block" %>
    <%= form.text_area :dosage %>
  </div>

  <div>
    <%= form.label :claims, style: "display: block" %>
    <%= form.text_area :claims %>
  </div>

  <div>
    <%= form.label :instructions, style: "display: block" %>
    <%= form.text_area :instructions %>
  </div>

  <div>
    <%= form.label :tht_months, style: "display: block" %>
    <%= form.number_field :tht_months %>
  </div>

  <div>
    <%= form.label :manufacturer_code, style: "display: block" %>
    <%= form.text_field :manufacturer_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
