<div id="<%= dom_id plant %>">
  <p>
    <strong>Streetnr:</strong>
    <%= plant.streetnr %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= plant.zip %>
  </p>

  <p>
    <strong>City:</strong>
    <%= plant.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= plant.country %>
  </p>

</div>
