<div id="<%= dom_id product %>">
  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= product.weight %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= product.barcode %>
  </p>

  <p>
    <strong>Family:</strong>
    <%= product.family_id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= product.label_id %>
  </p>

  <p>
    <strong>Plant:</strong>
    <%= product.plant_id %>
  </p>

  <p>
    <strong>Bag:</strong>
    <%= product.bag_id %>
  </p>

</div>
